body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #40514E;
}

hr {
  border-style: dotted;
  border-width: 6px;
  border-color: #EAF6F6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.top {
  background-color: beige;
  padding-left: 10px;
  position: relative;
  padding-top: 100px;
}

.middle {
  margin: 100px 0;
}

.bottom {
  padding: 50px 0 20px;
  background-color: #66BFBF;
}

.programmer {
  text-decoration: underline;
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.entrepreneur-png {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.baking-png {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.baking-description {
  clear: left;
}

.entrepreneur-description {
  clear: right;
}

.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}

.btn {
  box-shadow: 0 10px 14px -7px #ffffff;
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2bc4ad;
  padding-right: 20px;
}

.myButton:hover {
  background-color: #11999e;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
